__pycache__/
*.py[cod]
models/
reports/
venv/
.venv/
.pytest_cache/
.ipynb_checkpoints/
data/train_test/
data/processed/
!models/.gitkeep
!reports/.gitkeep
!data/train_test/.gitkeep
!data/processed/.gitkeep
